body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://images.pexels.com/photos/733854/pexels-photo-733854.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-align: center;
    font-weight: 100;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

h1 {
    color: #2c3e50; 
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px; 
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 70%; 
    margin-bottom: 20px; 
}

input[type="text"] {
    padding: 10px;
    width: 100%; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #b7b970; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a5a15f; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

ul {
    list-style-type: none;
    padding: 0;
    width: 70%; 
    margin: 0;
}

li {
    background-color: #f0f4f7; 
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    color: #2c3e50; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
    animation: fadeIn 0.5s ease-out; 
}

li:hover {
    background-color: #e0e4e8; 
    transform: scale(1.02); 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.strikethrough {
    text-decoration: line-through;
    color: #888888;
}

.delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #0c0c0c; 
}

#taskLimitMessage {
    display: none; 
    color: red;
    font-weight: bold;
    margin-bottom: 20px; 
}

#charLimitMessage {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}
